<div class="wrapper">

  <p>You put the following password: <%= @password %></p>
  <p><%= @answer %></p>
  <% if @password != @good_password %>
    <%= link_to 'Let me try again', '/ask' %>
  <% else %>
    <%= link_to 'Drop us an email!', 'mailto:secret.services@muxumuxu.com' %>
  <% end %>
</div>
