<p class="light-blue">muxu.computer <span class="dark-blue">git:(<span class="red">secret_password</span>)</span></p>

<form method="get">
  <input type="text" name="password" autofocus="true">
  <input type="submit">
</form>

<p class="white" id="answer"></p>
