<div id="previous_messages">

  <div id="template_previous_input" style="display: none;">
    <p class="light-blue">muxu.computer <span class="dark-blue">git:(<span class="red">secret_password</span>)</span></p>
    <span class="user_input">abcd</span>
    <span class="bot_answer">Wrong password</span>
  </div>

</div>

<div id="user_question">
  <p class="light-blue">muxu.computer <span class="dark-blue">git:(<span class="red">secret_password</span>)</span></p>
  <input type="text" id="password" name="password" autofocus="true" autocomplete="off">
  <input type="submit">
</div>
