<div class="user_question">

  <p class="light-blue">muxu.computer <span class="dark-blue">git:(<span class="red">secret_password</span>)</span></p>

  <form method="get">
    <input type="text" id="password" name="password" autofocus="true" autocomplete="off">
    <input type="submit">
  </form>

</div>

<div class="bot_answer">

  <p class="white" id="answer"></p>

</div>
